.header {
    position:absolute;
    top: 0;
    height: 20%;
    width: 400px;
    
    color: rgb(80, 78, 78);
    padding: 20px;
    font-size: 0.7em;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  .search {
    padding: 2% 50% 2% 10%;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    border-radius: 50px;
  }
  .logo {
    width: 3%;
    height: 3%;
    margin: 0vmin 0.8vmin -0.4vmin -1.5vmin;
  }
  .welcome {
    position: fixed;
    right: 40%;
  }
  
  .acount {
    position: fixed;
    top: 0;
    right: 0;
    height: 8%;
    width: 25%;
  }

  h5 {
    margin-top: 0%;
  }

  h1 {
    margin-bottom: 0%;
    text-align: left;
  }